/* {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
} */

li img {
width: 25px;
opacity: 0.55;
}

li img:hover {
    opacity: 1;
}