* {
    box-sizing: border-box;
    
}

.logo {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
margin: 0;
padding: 0;
}

#leftnav {
    display: inline-block;
    margin:10px;
    padding: 20px;
    margin-top: -10px;
}

#rightnav {
    display: flex;
    margin-top: 10px;
    float: right;
}

div.logo {
    padding-top: 47px;
    height: 100px;
}

div img {
    height: 92px;
    width: 272px;
}

a img {
    height: auto;
    width: 9%;
    padding: 0;
    margin: 0;
}

.search_form {
margin-top: 20px;
text-align: center;    
}

.search_button {
    text-align: center;
}